.mainContainer {
    background-color: lightblue;
}

.topBar {
    height: 100vh;
    background-color: lightblue;
    width: 100vw;
    /* position: static; */
}
.topBarText {
    text-align: center !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}